# PCM_stack.yaml
name: PCM_stack

# 368640
pointcloud_shape: [92160, 7]  # max_points, XYZRGB
dataset_path: data/please_please/recorder_data

shape_meta: &shape_meta
  # acceptable types: pointcloud, low_dim
  obs:
    pointcloud:
      shape: ${task.pointcloud_shape}
      type: pointcloud
    robot_obs:
      shape: [7]  # 6DOF + gripper_width
      type: low_dim

  action: 
    shape: [7]  # 6DOF + gripper_toggle


env_runner:
  _target_: pcdp.env_runner.PCM_runner.PCMPointCloudRunner

dataset:
  _target_: pcdp.dataset.PCM_stack_dataset.PCM_RealStackPointCloudDataset
  shape_meta: *shape_meta
  dataset_path: ${task.dataset_path}
  horizon: ${horizon}
  pad_before: ${eval:'${n_obs_steps}-1+${n_latency_steps}'}
  pad_after: ${eval:'${n_action_steps}-1'}
  n_obs_steps: ${dataset_obs_steps}
  n_latency_steps: ${n_latency_steps}
  use_cache: True
  seed: 233
  val_ratio: 0.00
  max_train_episodes: null
  voxel_size: 0.005
  downsample_factor: 4
  downsample_use_all_offsets: False
  group_by_offsets: False

  enable_pc_preprocessing: True
  pc_preprocessor_config:
    # MODE 4 : Femto + D405, occlusion uses both sensors
    sensor_mode: both
    workspace_bounds:            # [x_min, x_max], [y_min, y_max], [z_min, z_max]
      - [-0.132, 0.715]
      - [-0.400, 0.350]
      - [-0.100, 0.600]
    enable_TF: True
    enable_crop: True
    enable_filter: True
    enable_temporal: True
    temporal_voxel_size: ${task.dataset.voxel_size}
    temporal_decay: 0.95
    c_min: 0.1
    free_space_margin_m: 0.01
    verbose: False

    femto:
      K: [[252.69204711914062, 0.0, 166.12030029296875],
          [0.0, 252.65277099609375, 176.21173095703125],
          [0.0, 0.0, 1.0]]
      cam_to_base:
        - [  0.007131,  -0.91491,    0.403594,  0.05116]
        - [ -0.994138,   0.003833,   0.02656,  -0.00918]
        - [ -0.025717,  -0.403641,  -0.914552,  0.50821]
        - [  0.,         0.,         0.,         1.     ]
      width: 320
      height: 288
      var_ksize: 5
      var_std_thresh_m: 0.008
      var_min_depth_m: 0.00
      var_max_depth_m: 1e6

    d405:
      d405_cam_to_eef:
        - [0.011562517413824459, -0.9045824108766296,  0.4261419600598841, -0.0630571160287582]
        - [0.9999276419016558,    0.009045119479890396, -0.007930748677719701, -0.006957758124793954]
        - [0.003319510814811938,  0.42620282465772,     0.9046215413650787,   0.055453185424837834]
        - [0.0,                   0.0,                   0.0,                  1.0]
      robot_to_base:
        - [1., 0., 0., -0.04]
        - [0., 1., 0., -0.295]
        - [0., 0., 1., -0.027]
        - [0., 0., 0.,  1.0]
      stride: 1
      max_depth_m: 0.25
      var_ksize: 5
      var_std_thresh_m: 0.007
      var_min_depth_m: 0.00
      var_max_depth_m: 0.25

  enable_low_dim_preprocessing: True
  low_dim_preprocessor_config:
    robot_to_base:
      - [1., 0., 0., -0.04]
      - [0., 1., 0., -0.295]
      - [0., 0., 1., -0.027]
      - [0., 0., 0., 1.]
  
